# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.NetAlternativeDependencyInjection.iml
# Datasource local storage ignored files
/../../../../../../:\ProjektyNaukaNet\NetAlternativeDependencyInjection\.idea\.idea.NetAlternativeDependencyInjection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
